.card-box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin:20px;
}



.card {
  display: flex;
  width:25%;
  height:15%;
  margin:20px;
  border: 1px solid lightblue;
  align-items: center;
  

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  justify-content: space-evenly;
}

img {
  width:100px;
  height:300px;
}

.row {
  justify-content: space-evenly;
  display:flex;
}


.availability {
  background-color: darkgray;
  color: yellow;
  width: 106.5%;
  text-align:center;
  align-items:center;
  border-spacing:0px;
  
  
  
}

.card-text {
  text-justify: auto;
}

.title {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.specs {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.list-group-item {
  text-align:center;
  font-size:small;
}


.footer {
  font-size: x-small;
  text-align: center;
}

.product-pricing {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oneGlass {
  font-size: small;
}

.twoGlass {
  font-size: small;
}

.threeGlass {
  font-size: small;
}
