.container {
  display: flex;
  flex-wrap:nowrap;
  align-content:space-between;
  
}



.card {
  display: flex;
  
  width: 50%;
  border: 1px solid lightblue;
  align-items: center;
  background-color:lightblue;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  justify-content: space-evenly;
}

.row {
  justify-content: space-evenly;
}


.availability {
  background-color: darkgray;
  color: yellow;
  width: 108%;
  flex-grow: 1;
  justify-content:stretch;
  
  
}

.card-text {
  text-justify: auto;
}

.title {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.specs {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:lightblue;
}

.list-group-item {
  text-align:center;
  font-size:small;
}


.footer {
  font-size: x-small;
  text-align: center;
}

.product-pricing {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oneGlass {
  font-size: small;
}

.twoGlass {
  font-size: small;
}

.threeGlass {
  font-size: small;
}
